:root{
  --lailo-primary-color: #f8b816;
  --lailo-secondary-color: #dfa107;
  --lailo-text-color: rgb(75, 75, 75);
}

body{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  background: rgb(25, 25, 25);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#lailo-smart-character{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#lailo-widget-toggle-button{
  position: absolute;
  top: 75%;
  right: 0;
  z-index: 100000;
}

#lailo-character-canvas{
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin 400ms ease-out;
}

#lailo-character-canvas.hide{
  transition: all 0ms ease-out;
  opacity: 0;
}

#lailo-canvas-control-group{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

#lailo-widget-container.container-show #lailo-canvas-control-group{
  opacity: 0;
  pointer-events: none;
}

#lailo-widget-container.container-show #lailo-character-canvas{
  margin-left: -250px;
}

#lailo-canvas-microphone-button{
  font-size: 2.3rem;
  border-radius: 0;
  padding: .45rem 1rem;
  background: transparent;
}

#lailo-canvas-microphone-button.listening{
  color: red;
  animation: none;
}

#lailo-canvas-user-question{
  font-size: 1.4rem;
  color: whitesmoke;
  text-align: center;
  min-height: 30px;
}

#lailo-canvas-loading{
  position: absolute;
  opacity: 1;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 5002;
}

#lailo-widget-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

#lailo-widget-container.before-init{
  display: none;
}

#lailo-user-input-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(450px);
  background: transparent;
  padding: 3rem 2rem;
  transition: 400ms all ease-out;
  background: white;
}

#lailo-widget-container.container-show #lailo-user-input-container{
  transform: none;
}

#lailo-user-input-container-title{
  font-size: 1.8rem;
  text-align: center;
  color: var(--lailo-text-color);
  font-weight: normal;
  margin: 1rem 0 5rem 0;
}

.lailo-control-group{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*  BUTTONS SECTION  */

#lailo-microphone-button{
  font-size: 2.3rem;
  position: absolute;
  border-radius: 0;
  padding: .45rem 1rem;
}

#lailo-toggle-show-answer-button{
  display: none;
}

#lailo-send-text-button{
  font-size: 2rem;
  position: absolute;
  border-radius: 0;
  padding: .6rem 1rem .6rem .6rem;
  z-index: -1;
}

/*  USER INPUT SECTION  */

#lailo-user-input{
  width: 200px;
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem 5rem;
  outline: none;
  border: none;
  position: relative;
  background: rgba(211, 199, 36, 0.150);
  z-index: 3;
}

#lailo-user-input:focus{
  border-color: var(--lailo-secondary-color);
}

.bot-control-element{
  outline: none;
  border: none;
  padding: .6rem .9rem;
  background-color: var(--lailo-primary-color);
  color: white;
  cursor: pointer;
  transition: all 120ms ease-out;
  font-size: 1.3rem;
  z-index: 3;
}

.bot-control-element:hover{
  background: var(--lailo-secondary-color);
}

#lailo-answer-text-field{
  max-width: 350px;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: .5rem 0;
  color: var(--lailo-text-color);
}

.bot-control-element.active,
.bot-control-element.listening{
  animation: pulse 1400ms ease-out infinite;
  background: var(--lailo-primary-color);
  z-index: 90;
  opacity: 1 !important;
}

#lailo-example-questions{
  text-align: left;
  font-size: 1.2rem;
}

.lailo-link{
  display: block;
  text-align: center;
  border: 1px solid var(--lailo-primary-color);
  padding: .3rem .6rem;
  margin-top: 1rem;
  text-decoration: none;
  font-style: normal;
  color: var(--lailo-primary-color);
  align-self: flex-start;
  justify-self: center;
  margin: 1rem auto .4rem auto;
  transition: all 120ms ease-out;
  cursor: pointer;
}

.lailo-link:hover{
  background: var(--lailo-primary-color);
  color: white;
}


.hidden{
  opacity: 0;
  pointer-events: none;
  z-index: -5;
}

.deactivated{
  user-select: none;
  pointer-events: none;
  background: rgb(221, 221, 221) !important;
  border: 2px solid grey;
  color: grey;
}

#loading {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 5002;
}

#loading.hidden,
#lailo-canvas-loading.hidden{
  z-index: -5;
  opacity: 0;
}

#loading div,
#lailo-canvas-loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}

#loading div:nth-child(1),
#lailo-canvas-loading div:nth-child(1) {
  animation-delay: -0.45s;
}

#lailo-canvas-loading div:nth-child(2),
#loading div:nth-child(2) {
  animation-delay: -0.3s;
}

#lailo-canvas-loading div:nth-child(3),
#loading div:nth-child(3) {
  animation-delay: -0.15s;
}

/* RESPONSIVE DESIGN */

@media(max-width: 767px){

  #lailo-widget-container{
    margin: auto;
    width: 100%;
  }

  #lailo-canvas-control-group{
    width: 100%;
  }

  #lailo-canvas-user-question{
    font-size: 1rem;
  }

  .bot-control-element{
    margin: 0;
  }
  
  #lailo-user-input-container{
    padding: 2rem;
    transform: translateY(100%);
    transition-duration: 400ms;
    left: 0;
  }

  #lailo-widget-container.container-show #lailo-user-input-container{
    transform: none;
  }

  #lailo-widget-container.container-show #lailo-character-canvas{
    position: static;
    transform: scale(.4) translateY(-290px);
    z-index: 1;
    opacity: 1;
    margin: -7rem 0 -4.5rem 0;
    transition: 400ms all ease-out;
  }

  #lailo-widget-container.container-show #lailo-character-canvas.hide{
    transition: all 0ms linear;
    opacity: 0;
  }

  #lailo-user-input-container{
    display: block;
    padding-top: 90%;
  }

  #lailo-user-input-container-title{
    margin: .5rem 0;
    text-align: center;
    font-size: 1.6rem;
    display: none;
  }

  #lailo-example-questions,
  #lailo-answer-text-field,
  .lailo-control-group{
    position: relative;
    z-index: 2;
    background: white;
  }

  #lailo-user-input{
    min-width: auto;
    font-size: 1rem;
    padding: 1.2rem 2rem 1.2rem 5rem;
    width: 100%;
  }

  #lailo-answer-text-field{
    max-width: 100%;
    font-size: 1.2rem;
    height: 150px;
    overflow-y: auto;
  }

  #lailo-example-questions{
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0;
  }
}

@media(max-height: 660px){
  #lailo-user-input-container-title{
    display: none;
  }

  #lailo-answer-text-field{
    max-width: 100%;
    font-size: 1rem;
    max-height: 120px;
    margin: 0;
  }
}

/*  ANIMATION HANDLERS  */

@keyframes shrink{
  0%{
    transform: none;
  }
  25%{
    transform: scale(.8);
  }
  75%{
    transform: scale(.8)
  }
  100%{
    transform: none;
  }
}

@keyframes slideIn{
  to{
    transform: none;
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse{
  50%{
    background: var(--lailo-secondary-color);
  }
}
